<div class="container-fluid">

    <div class="card" style="width: 50%;margin: 5px auto;">
        <div class="card-header">
            Update Partner
        </div>
        <div  class="card-body"  >
            <form>
                <div *ngIf="fournisseur" class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="fournisseur.nomFourn" id="name" name="name" class="form-control" type="text">
                </div>


                <div class="form-group">
                    <label for="matricule">Matricule</label>
                    <input [(ngModel)]="fournisseur.matriculeFourn" id="matricule" name="matricule" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input [(ngModel)]="fournisseur.telFourn" id="phone" name="phone" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input [(ngModel)]="fournisseur.adrFourn" name="address" id="address" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input [(ngModel)]="fournisseur.emailFourn" name="email" id="email" class="form-control" type="text">
                </div>

                <button class="btn btn-primary" (click)="editFournisseur()">Save Edit</button>
            </form>
        </div>

        <!-- Alert message when save is successful -->
        <div class="card-footer" *ngIf="showAlert" >
            <div class="alert alert-success" >
                <button class="close" [routerLink]="['/instructor/instructor-dashboard']">
                    &times; 
                </button>
                <strong>Partner Successfully Updated</strong>
            </div>
        </div>

    </div>
</div>

